<body>

<div class="container">

    <h1>Task Management System</h1>

    <h3>Organize Your Work Efficiently</h3>

    <p>
        Welcome to my Task Management System built using Django.
        This application helps users create, manage and track their daily tasks.
    </p>

    <hr>
    <h2>Add New Task</h2>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Add Task</button>
</form>

<hr>

    <h2>Tasks</h2>

<ul>
    {% for task in tasks %}
        <li>
            <strong>{{ task.title }}</strong><br>
            {{ task.description }} <br>
            <a href="/edit/{{ task.id }}/">Edit</a>
            <a href="/delete/{{ task.id }}/">Delete</a>
        </li>
        <br>
    {% empty %}
        <li>No tasks available.</li>
    {% endfor %}
</ul>

    <button>Get Started</button>

</div>

</body>